:root{
	--buttonColor: #468189;
	--textColorWthie: white;
	--buttonColorGelb: #f2dd6e;
	--fontFamily: "Roboto", Sans-serif ;
	--textColorInfo: #333333;
	--FontSizeBigButtons: 20px;

}

body{
	font-family: var(--fontFamily);
}

.botText{
	margin-top: 20px;
	margin-bottom: 20px;
	/* font-family: var(--fontFamily) */
	color: #222222;
	line-height: 1.6;
}


a.linkLOS{
	display:inline-block;
	background:var(--buttonColor);
	border-radius: 45px;
	color: var(--textColorWthie);
	border: none;
	font-weight:bold;
	padding:15px;
	height:25px;
	width: 60px;
	font-size:var(--FontSizeBigButtons);
	text-decoration:none;
}

a.linkgruen{
	display:inline-block;
	background:var(--buttonColor);
	border-radius: 30px;
	border: none;
	color: var(--textColorWthie);
	font-weight:bold;
	text-decoration:none;
	padding:10px 20px;
}

button.hovergruen{
	background: lightgrey;
	height:30px;
	border-radius: 30px;
	width:220px;
	border: none;
}

button.hovergruen:hover{
	background-color: var(--buttonColor) ; /* Green */
	color: white;
  }

a.linkgelb{
	display:inline-block;
	background:var(--buttonColorGelb);
	border-radius: 30px;
	border: none;
	color: var(--textColorInfo);
	font-weight:bold;
	text-decoration:none;
	padding:10px 20px;
	font-size:16px;
	/* height:25px; */
	vertical-align:top;
}

button.linkgelb{
	display:inline-block;
	background:var(--buttonColorGelb);
	border-radius: 30px;
	border: none;
	color: var(--textColorInfo);
	font-weight:bold;
	text-decoration:none;
	padding:10px;
	font-size:16px;
	/* height:25px; */
	vertical-align:top;
	noshade
}

.infoQuestion{
	font-weight:700;
}
.infoAnswer{
	margin-left:50px;
	color: var(--textColorInfo);
	line-height: 1.6;
}

.column{
	display:inline-block;
	width:40%;
	margin-left:10px;
	margin-right:10px;
}

.ergebnisBlock{
	width: 40%;
	margin-left:20px;
	margin-right:20px;
	margin-bottom: 20px;
	/* background:#FCF4D5; */
	padding: 10px;
	padding-left: 20px;
	padding-right:20px;
	height: 520px;
	border: 2px solid #cccccc;
	display: inline-block;
	vertical-align:top;
	border-radius: 10px;
}

.ergebnisBlock .costLine{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px 10px;
	text-align:left;
}

.ergebnisBlock .cost{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #CFCFCF;
	/* background-color: #eeeeee ;  */
	/* text-align:right; */
	padding: 4px 10px;
	border-radius: 5px;
}

.ergebnisBlock .name{
/* Test: */
	/* background:#eeeeee; */
	/* border: 5px solid var(--buttonColor); */
	font-size: 20px;
	margin-top: 10px;
	font-weight:bold;
	margin-bottom: 10px;
	padding: 4px 10px;
	height: 50px;
	border-radius: 10px;
	/* background: green; /*Platzhalter-Farbe*/ */
}

.ergebnisBlock .description{
	/* margin-top: 10px; */
	/* margin:10px; */
	margin-bottom: 10px;
	height: 290px;
	padding: 10px 10px;
	/* border: 1px solid var(--buttonColor); */
	border-radius: 10px;
	/* background:white; */
	/* font-size: 110% */

}

.ergebnisBlock hr.LineAngbebote{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 2px;
	background-color: var(--buttonColor) ;
	color: var(--buttonColor) ;
	width:95% ;
	text-align:left;
	noshade;
}

.ergebnisBlock a.linkgruen{
	margin-top:20px;
	display:inline-block;
}

#fortschritt-hg{
	margin-top:100px;
	margin-bottom:20px ;
	border:1px solid #cccccc;
	height:30px;
	width:600px;
	background:#3f3c3c;
	border-radius: 10px;
}

#fortschritt-vg{
	height:25px;
	background:#a1e8af;
	/* padding-left: 20px; */
	padding-top: 5px;
	border-radius: 5px;
	width:600px;


}

.symptom
{
	margin-top:20px;
}

.mehrfachwahl{
	margin-top:20px;
	margin-bottom:20px;
}

.page{
	width:900px;
	/* border:1px solid #cccccc; */
	margin:0px;
}
