:root{
	--buttonColor: #468189;
	--textColorWthie: white; 
	--buttonColorGelb: #f2dd6e;
	--fontFamily: Roboto;
}

body{
	font-family: var(--fontFamily);
}

.botText{
	margin-top: 20px;
	margin-bottom: 20px;
}

a.linkgruen{
	background:var(--buttonColor);
	border-radius: 10px;
	border: none;
	color: var(--textColorWthie);
  	font-weight:bold;	
	padding:10px;
	height:100px;
}

button.hovergruen{
	background: lightgrey;
	height:30px;
	border-radius: 5px;
	border: none;
}

button.hovergruen:hover{
	background-color: var(--buttonColor) ; /* Green */
	color: white;
  }

a.linkgelb{
	background:var(--buttonColorGelb);
	border-radius: 10px;
	border: none;
	color: var(--textColorWthie);
	font-weight:bold;
	padding:10px;
	height:100px;
}

span.infoQuestion{
	font-weight:700;
}
span.infoAnswer{
	margin-left:50px;
	font-style:italic;
}

.column{
	display:inline-block;
	width:40%;
	margin-left:10px;
	margin-right:10px;
}
